<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Viajesito</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/favicon.png" rel="icon">
  <link href="../static/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/aos/aos.css rel="stylesheet">
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bootslander - v4.1.0
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html"><span>Viajesito</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Inicio</a></li>
         
          <li class="dropdown"><a href="#"><span>Otro Mapa</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Inner Page</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <head>
          <title>Localiza tu destino</title>
         
        </head>
        <body>
          <h3>Viaja a todas las partes de México</h3>
          <!--The div element for the map -->
          <div id="map"></div>
      
          <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
          <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2ZQaiYgv3qAnb9juweYi6DST-LU2O2xc&callback=initMap&libraries=&v=weekly"
            async
          ></script>
        </body>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/aos/aos.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/glightbox/js/glightbox.min.js"></script>
  <script src="../static/php-email-form/validate.js"></script>
  <script src="../static/purecounter/purecounter.js"></script>
  <script src="../static/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/main.js"></script> 

</body>

</html>